.dashboard {
  height: 100vh;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

header {
  display: flex;
  padding: 5px;
  background-color: #45a1ff;
  color: #fff;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #45a1ff;
  color: #fff;
}

.flex-1 {
  flex: 1;
}

.ag-body-viewport {
  overflow-y: auto !important;
  min-height: 100px;
}

.overflow-y-hidden {
  overflow-y: hidden;
}
